* {
	margin: 0; 
}

a {
	color: #AABBFF;
}

a:hover {
	color: white;
	text-decoration: none;
}

#about-me {
	max-width: 515px;
	margin: auto;
}

body {
	font-family: "eurostile",sans-serif;
	width: 100%;
}

#boss-search {
	width: 100%;
}

#contact {
	background-color: #7e7e7e;
}

#contact a {
	padding-right: 0.5rem;
}

.fa {
	font-size: 36px;
}

footer {
	background-color: #7e7e7e;
	padding-top: 2.5rem;
	padding-bottom: 2.5rem;
	text-align: center;
}

h3 {
	font-weight: bold;
}

h5 {
	font-style: italic;
}

header {
	background-color: #323232;
}

hr {
	width: 5%;
	margin: 2.5rem auto;
}

.img-title img {
	width: 100%;
}

input.ng-invalid {
	background-color: #ff7777;
}

.name, .name:hover {
	color: white;
	font-size: 150%;
	text-decoration: none;
}

nav li a {
	font-size: 125%;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}

#pixel-title {
	margin: auto;
	max-width: 335px;
}

.project {
	margin: auto;
	max-width: 550px;
	padding-top: 1.5rem;
}

#projects ul {
	list-style: none;
}

#projects a:hover {
	color: #2450ff;
}

#scenery .carousel-item img {
	width: 100%;
}

#scenery-title {
	max-width: 800px;
	margin: auto;
}

section {
	padding-top: 3.5rem;
	padding-bottom: 3.5rem;
	text-align: center;	
}

span {
	padding-top: 1.5rem;
}

.text-center {
	text-align: center;
}